@using Microsoft.AspNetCore.Mvc.Localization
@using SilviaSite.Models
@inject IViewLocalizer Localizer
@model EmailMessage
        <!-- Contact Section -->
<section id="contact" class="content-section text-center">
    <div class="row">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div id="contactmeImg"><h2>@Localizer["contactme"]</h2></div>
                <div id="overlay" style="display:none;">
                    <div class="loader"><i class="fa fa-paper-plane fa-2x"></i></div>
                </div>
                <form class="form form-horizontal" id="contactForm" method="post">
                    <div id="Response" class="formlabels" style="text-align:left;">@Localizer["invitation"]</div>
                    <input type="hidden" id="culture" value="@Localizer["contactme"]" />
                    <div asp-validation-summary="All"></div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            <div class="form-group">
                                <label asp-for="@Model.From" class="col-md-2 left formlabels">@Localizer["from"]</label>
                                <div class="col-md-10">
                                    <input asp-for="@Model.From" class="form-control" style="width:100%" />
                                    <span asp-validation-for="@Model.From"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            <div class="form-group">
                                <label asp-for="@Model.Subject" class="col-md-2 left formlabels">@Localizer["subject"]</label>
                                <div class="col-md-10">
                                    <input asp-for="@Model.Subject" class="form-control" style="width:100%" />
                                    <span asp-validation-for="@Model.Subject"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="checkbox" asp-for="@Model.Required" />
                                    <label asp-for="@Model.Required" class="formlabels">@Localizer["responseRequired"]</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea asp-for="@Model.Content" rows="10" overflow="auto" style="width:100%" class="form-control"></textarea>
                                    <span asp-validation-for="@Model.Content"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            <button type="button" onclick="Send()" class="btn btn-default btn-lg">@Localizer["send"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function Send() {
        $('#overlay').css('display', 'block');
        $.ajax({
            type: "POST",
            url: "/Home/Send/?culture=" + getUrlParameter('culture'),
            data: $('#contactForm').serialize(),
            dataType: "json",
            success: function (response) {
                var dv = $("#Response");
                dv.empty();
                dv.html(response.value);
                $('#contactForm').find("input[type=text], textarea").val("");
                $('#contactForm').find("input[type=checkbox]").prop('checked', false);
                $('#overlay').css('display', 'none');
            },
            failure: function (response) {
                var dv = $("#Response");
                dv.empty();
                dv.hmtl(response.value);
                $('#overlay').css('display', 'none');
            }
        });
    }

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
</script>
